#yearspan {
	position:absolute;
}

#vis-contents > div.active {
	opacity:1;
	z-index: 10;
}

#vis-contents > div{
	width:70%;
	height:80%;
	top:50px;
	opacity:0;
	z-index: -10;
	position:absolute;
	transition-property: right, opacity;
  	transition-duration: 1s;
	-moz-transition-property: right, opacity;
  	-moz-transition-duration: 1s;
	-webkit-transition-property: right, opacity;
  	-webkit-transition-duration: 1s;
}

#vis-buttons {
	position:absolute;
	z-index: 50;
	top:80%;
	height:38px;
	width:80%;
	background-color:#ddd;
}

#embed-widget{
	position:absolute;
	top:89%;
	height:38px;
	width:80%;
}

#embed-widget textarea{
	position:absolute;
	width:80%;
}
