#vis-contents > div.active {
	opacity:1;
	top:0;
}

#vis-contents > div{
	width:100%;
	height:100%;
	opacity:0;
	position:absolute;
	float: top;
	transition-property: right, opacity;
  	transition-duration: 1s;
	-moz-transition-property: right, opacity;
  	-moz-transition-duration: 1s;
	-webkit-transition-property: right, opacity;
  	-webkit-transition-duration: 1s;
}

#vis-buttons {
	position:absolute;
	top:90%;
	height:38px;
	width:80%;
	background-color:#ddd;
}

#embed-widget{
	position:absolute;
	top:100%;
	height:38px;
	width:80%;
}

#embed-widget textarea{
	position:absolute;
	width:80%;
}
