/**********/
/* LAYOUT */
/**********/

* { margin: 0; padding: 0; }

html, body { 
	direction: rtl;
	height:100%;
	margin:0;
	padding:0;
	border:0;
	display:block;
}

.main { background-color:#eef; height:100%; }

div.layout {
	display: block;
	/*clear: both;*/	
}

span { 
	margin:0px;
	padding:0px;
	border:0px;
}

	#header {
	    display:block;
		background-color: #ccc;
		width:100%;
		height:10%;
	}

	#current {
		background-color: #ddd;
		width:60%;
		float:right;
	}
	
       #current h1, 
       #current h4 { 
            display:inline;
	   }
	   
	   #current .year-sel {
	       display:inline-block;
	       width:5%;
	       margin:0.2%;
	       text-align:center;
           color:#446;
	   }

           #current .year-sel.disabled {
           		color:#ccc;
           }

	#search {
		float:left;
		background-color: #eee;
		width:40%;
	}

	#current,#search {
		height:15%;
	}
	
	#visualizations {
		background-color: #fff;
		float:right;
	}
	
	#visualizations, #vis-contents {
		width:80%;
	}
	
	#feed {
		background-color: #aaa;
		float:left;
		width:20%;
	}
	
	#visualizations, #feed, #vis-contents {
		height:60%;
	}
	
	#credits {
		background-color: #bbb;
		float:left;
		width:20%;
	}

	#social {
		background-color: #ccc;
		float:right;
		width:80%;
	}
	
	#credits, #social {
		height:auto;
	}

/******************/
/* VISUALIZATIONS */
/******************/

#vis-contents {
	position:absolute;
	top:25%;
	width:80%;
	height:55%;
	float:right;
}

	.vis-content {
		position:absolute;
		width:100%;
		height:100%;
		float:right;
		opacity:0;
		top:0;
		right:-100%;
		transition-property: right, opacity;  
  		transition-duration: 1s;
		-moz-transition-property: right, opacity;  
  		-moz-transition-duration: 1s;
		-webkit-transition-property: right, opacity;  
  		-webkit-transition-duration: 1s;
  		margin: 0 auto;
	}

		.vis-content.active {
			opacity:1;
			right:0;
		}
		
/*		#vis-graph.vis-content {
			direction:ltr;
		}
		
		      #vis-graph.vis-content text {
                    text-align:left;
                    unicode-bidi:"embed"
		      }*/

#vis-buttons {
	position:absolute;
	top:80%;
	height:38px;
	width:80%;
	background-color:#ddd;
}

	.vis-button {
	    margin-left:2px;
		width: 40px;
		height: 38px;
        border: 1px solid #bbb;
        border-top: none;
        text-indent:0;
		display:inline-block;
		text-align: center;
		background-color:transparent;
		background-size: 40px 40px;
        background-position: 0 0;
        background-repeat: no-repeat;
        float:right;
	}
	  
	  .vis-button:hover {
	       background-color:#eee;
	  }
	  
	  .vis-button.active {
	       background-color:#fff;
	  }
	
	   #vis-graph-button.vis-button {
	       background-image:url(images/area_chart256.png);
	   }

       #vis-pie-button.vis-button {
           background-image:url(images/pie_chart256.png);
       }

       #vis-table-button.vis-button {
           background-image:url(images/numbers256.png);
       }

#vis-table {
	overflow-y: scroll;
	overflow-x: clip;
}
