/**********/
/* LAYOUT */
/**********/

* { margin: 0; padding: 0; }

html, body { 
	direction: rtl;
	height:100%;
	margin:0;
	padding:0;
	border:0;
	display:block;
}

.main { 
    background-color:#eef; 
    height:100%;
    position: relative;
}

div.layout {
	display: block;
	/*clear: both;*/	
}

span { 
	margin:0px;
	padding:0px;
	border:0px;
}

#header {
    display:block;
	background-color: #ccc;
	width:100%;
	height:10%;
}

#current {
	background-color: #ddd;
	width:60%;
	float:right;
	position: relative;
}

#current h1, 
#current h4 { 
    display:inline;
}
   
#year-selection {
}
   
#year-selection .year-sel {
	display:inline-block;
	width:5.5%;
	padding:0.2%;
	margin:0;
	text-align:center;
	color:#446;
	border-right:solid 1px #cce;
	background-color:#f0f0f8;
	float:right;
}
#year-selection .year-sel:first-child {
    margin-right:1%;
    border-right:none;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 7px 7px 0px;
    border-radius: 0px 7px 7px 0px;
}

#year-selection .year-sel:last-child {
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-radius: 7px 0px 0px 7px;
	border-radius: 7px 0px 0px 7px;
}

#year-selection.enabled .year-sel.enabled:hover {
    color:#223;
    background-color:#fff;
}

#year-selection.enabled .year-sel.enabled {
    cursor: pointer;
}

#year-selection.enabled .year-sel.enabled.active {
    color:#000;
    font-weight:bold;
    background-color:#fff;
}

#year-selection.enabled .year-sel.disabled {
	color:#ccc;
}
          
       
#year-selection.disabled {
    background-color:#f8f8f8;
}
  
#year-selection.disabled .year-sel {
    color:#ccc;
}

#year-selection.disabled .year-sel.active {
    color:#000;
    font-weight:bold;
    background-color:#fff;
}

div.result-table {
    display: table;
    border-radius: 15px;
}

div.result-row {
    display: table-row;
}

div.result-cell {
    display: table-cell;
    padding:10px;
    background:#f0f0f0;
    border:5px solid gray;
    margin:10px; 
    border-radius: 15px;
    width: 50%;
    height: 50%;
}

div.scroll {
    height:150px;
    vertical-align:text-top;
    overflow: auto;
}

.loader {
    text-align: center;
    vertical-align: middle;
}

span.result-cell {
    float: right;
    overflow: auto;
}

a.result-cell {
    overflow: auto;
}

.button {
    background: #C9D6DC;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    border: 2px solid #D7E4EB;
}

.button-pressed {
    background: #537E92;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    border: 2px solid #D7E4EB;
}

#result-container {
	width: 98%;
	height: 70%;
	position: absolute;
	top: 25%;
	left: 1%;
}

#result-container {
	z-index: 10;
}

#current,#search {
	height:15%;
}

#visualizations {
	background-color: #fff;
	float:right;
}

#visualizations, #vis-contents {
	width:80%;
}

#feed {
	background-color: #aaa;
	float:left;
	width:20%;
}

#visualizations, #feed, #vis-contents {
	height:60%;
}

#credits {
	background-color: #bbb;
	float:left;
	width:20%;
}

#social {
	background-color: #ccc;
	float:right;
	width:80%;
}

#credits, #social {
	height:auto;
}

/******************/
/* VISUALIZATIONS */
/******************/

#vis-contents {
	position:absolute;
	top:25%;
	width:80%;
	height:55%;
	float:right;
}

.vis-content {
	position:absolute;
	width:100%;
	height:100%;
	float:right;
	opacity:0;
	top:0;
    /*right:-100%;*/
	transition-property: right, opacity;  
  	transition-duration: 1s;
	-moz-transition-property: right, opacity;  
  	-moz-transition-duration: 1s;
	-webkit-transition-property: right, opacity;  
  	-webkit-transition-duration: 1s;
  	margin: 0 auto;
}

.vis-content.active {
	opacity:1;
	right:0;
}
				
#vis-buttons {
	position:absolute;
	top:80%;
	height:38px;
	width:80%;
	background-color:#ddd;
}

.vis-button {
    margin-left:2px;
	width: 40px;
	height: 38px;
    border: 1px solid #bbb;
    border-top: none;
    text-indent:0;
	display:inline-block;
	text-align: center;
	background-color:transparent;
	background-size: 40px 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    float:right;
}
	  
.vis-button:hover {
   background-color:#eee;
}
	  
.vis-button.active {
   background-color:#fff;
}
	
#vis-table-button.vis-button {
   background-image:url();
}

/*************** Item Info *************/

#vis-ItemInfo {
	overflow-y: scroll;
	overflow-x: clip;
}

.iteminfo {
    border-collapse: collapse;
}

    .iteminfo td {
        padding: 0.3em 2em;
        border-bottom:solid 1px #ccc;
    }
        
            
    .iteminfo tr td:nth-child(2n) {
        background-color:#eee;
    }

    .iteminfo tr td:nth-child(2n+1) {
        background-color:#f0f0ff;
    }

    .iteminfo tr td:first-child {
        background-color:#fff;
    }

    .iteminfo tr:first-child td {
        border-bottom: solid 1px #888;
        font-weight: bold;
        background-color:#fff;
    }
	    
